/****** General ***********/
*{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    box-sizing: border-box;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --grey: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}
header{
height: 460px;

}
body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin:0;
    padding: 0;

  
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
.booki-icons-mobile{
    display: none;
}
.booki-icons img{
width: 5%;
height: 5%;
margin-top: 2%;
}

h5{
font-weight: 400;
size: 16px;
line-height: 18.78px;
}
.tabs-acco{
display:flex;
flex-direction: row;
position: relative;
left: 1050px;
bottom: 50px;
width: 110px;
}
.tabs-activity{
    display:flex;
    flex-direction: row;
    position: relative;
    left: 1250px;
    bottom: 67px;
    width: 63px;
}
.tabs-acco:hover{
border-top: 2px solid #0065FC;
color: #0065FC;

}
.tabs-activity:hover{
border-top: solid 2px #0065FC;
color: #0065FC;
}
.a-acco:hover{
color: #0065FC;
}
.a-activity:hover{
color: #0065FC;
}
.location-icons{
    display: flex;
    position: relative;
height: 50px;
width: 50px;
background-color: #F2F2F2;
border-radius: 15px 0px 0px 15px;
top: 26px;
}
.fa-solid{
color: black;
position: relative;
top: 15px;
left: 20px;
}
.button-mobile{
    display: none;
}
.input{

border-radius:0px 15px 15px 0px;
}
.input-text{

display: flex;
flex-direction: row;
justify-content:center;
position: relative;
height: 50px;
right: 542px;
top: -24px;
}
.input-mobile{
    display: flex;
    position: relative;
    width: 215px;
    left: 27px;
}
::placeholder{
    display: flex;
    position: relative;
    right: 2515px;
    font-weight: bold ;
    color: black;
    font-size: larger;
    left: 15px;
    width: 155px;
}
.button{
background-color: #0065FC;
margin-left: 90%;
display: flex;
flex-direction: row;
justify-content: center;
position:relative;
bottom: 74px;
height: 50px;
right: 990px;    
border-radius:0px 15px 15px 0px ;
}
.button-a{
color: #F2F2F2;
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
top: 14px;
}
a{
color: black;  
}
.filter-h3{
    display: flex;
    position: relative;
    bottom: 6px;
}
.filter-economic{
    display: flex;
    flex-direction:row;
    position: relative;
    left: 70px;
    bottom: 55px;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 50px;
    height: 40px;
    width: 160px;
}
.filter-economic:hover{
    background-color: #DEEBFF;
}
.fa-money-bill-wave{
    display: flex;
    position: relative;
    height: 100px;
    top: 11px;
    color: #0065FC;
}
.h4-economy{
    display: flex;
    position: relative;
    left: 30px;
    bottom: 13px;
}

.filter-family{
    display: flex;
    flex-direction:row;
    position: relative;
    left: 250px;
    bottom: 97px;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 50px;
    height: 40px;
    width: 120px;
}
.fa-person{
    color: #0065FC;
}
.filter-family:hover{
    background-color: #DEEBFF;
 
}
.h4-family{
    display: flex;
    position: relative;
    left: 30px;
    bottom: -9px;
}
.fa-person{
    display: flex;
    position: relative;
}
.filter-romantic{
    display: flex;
    flex-direction:row;
    position: relative;
    left: 385px;
    bottom: 137px;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 50px;
    height: 40px;
    width: 155px;
}
.fa-heart{
    color: #0065FC;
    display: flex;
    position: relative;
    top: 10px;
    left: 15px;
}
.a-romantic{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 25px;
    top: 9px;
}
.filter-romantic:hover{
    background-color: #DEEBFF;
}
.filter-nugget{
    display: flex;
    flex-direction:row;
    position: relative;
    left: 555px;
    bottom: 178px;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 50px;
    height: 40px;
    width: 145px;
}
.a-nugget{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 18px;
    top: 9px;
}
.filter-nugget:hover{
    background-color: #DEEBFF;
}
.fa-fire{
    top: 9px;
    left: 9px;
    color: #0065FC;
}
.h5-500{
    display: flex;
    flex-direction:row;
    position: relative;
    bottom: 205px;
    left: 40px; 
}
.border-info{
display: flex;
flex-direction: column;
position: relative;
bottom: 160px;
border-style: solid;
border-width: thin;
border-color: #D9D9D9;
width: 30px;
height: 30px;
border-radius: 160%;
}
.fa-info{
    color: #0065FC;
    display: flex;
    position: relative;
    top: 5px;
    left: 13px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 83%;
    
}
.hebergements-marseille{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hebergement-card{
    display: flex;
    position: relative;
    right: 2px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-left: 7px;
    padding-top: 7px;
}
.hebergement-card img{
    display: flex;
    position: relative;
    left: 1%;
    min-width: 96%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergement-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergement-title{
    display: flex;
    justify-content: start;
    flex-direction: row;
    position: relative;
    width: 600px;
    right: 113px;
    top: 60px;
    }
.hebergement-subtitle{
        display: flex;
        justify-content: start;
        flex-direction: row;
        position: relative;
        width: 500px;
        right: 440px;
        bottom: -100px;
    }
.hebergement-rating{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -40px;   
    right: 245px;
}
img{
    object-fit: cover;
}
.hebergement-card-2{
    display: flex;
    position: relative;
    right: 2px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-left: 7px;
    padding-top: 7px;
}
.hebergement-card-2 img{
    display: flex;
    position: relative;
    left: 1%;
    min-width: 96%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergement-card-5{
    display: flex;
    position: relative;
    right: 2px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-left: 7px;
    padding-top: 7px;
}
.hebergement-card-5 img{
    display: flex;
    position: relative;
    left: 1%;
    min-width: 96%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergement-card-6{
    display: flex;
    position: relative;
    right: 2px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-left: 7px;
    padding-top: 7px;
}
.hebergement-card-6 img{
    display: flex;
    position: relative;
    left: 1%;
    min-width: 96%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/****** Populaires ***********/
.populaires {
    width: 100%;
    height: 100%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    height: 175px;
}

.populaires-cards img {
    width: 33%;
    height: 166px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    right: 19px;
    bottom: 9px;
}
.grey-background{
    background-color: #F2F2F2;
}
/****** Activités ***********/
.activity{
    display: flex;
    position: relative;
    flex-direction: row;
    padding-top: 10px;   
}
.activity-h3{
    display: flex;
    position: relative;
    padding-right: 9px;
    width: 55px;
    left: 39px;
    white-space: nowrap;
    top: 25px;
}
.activity-card{
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 300px;
    right:35px;
    top: 90px;
    object-fit: cover;
}
.activity-card img{
    display: flex;
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    padding-bottom: 50px;
  
}
.activity-title{
    display: flex;
    position: relative;
    top: 295px;
    right: 280px;
    width: 700px;
    height: 50px;
}
.activity-h4{
    display: flex;
    position: relative;
    width: 300px;
    height: 50px;
}
.fort{
    display: flex;
    position: relative;
    object-fit: fill;
    min-width: 300px;
    object-fit: cover;
}
.grey-background{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 250px;
    height: 200px;
    top: 130px;
}
.column{
display: flex;
position: relative;
flex-direction: column;
gap: 15px;
left: 20px;
}
.footer-h2{
    display: flex;
    position: relative;
    top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .tabs-acco{
        left: 640px;
        bottom: 32px;
    }
    .booki-icons-mobile{
        display: none;
    }
    .tabs-activity{
        left: 840px;
        bottom: 50px;
    }
    .filter-h3{
        bottom: 50px;
    }
    .filter-economic{
        left: 1px;
    }
    .filter-family{
        left: 175px;
    }
    .filter-romantic{
        left: 300px;
    }
    .filter-nugget{
        left: 460px;
        top: -180px;
    }
    .input-text{
        left: -325px;
    }
    .button{
        left: -600px;
        width: 110px;
    }
    .input-mobile{
        display: flex;
        position: relative;
        width: 215px;
        left: 27px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements-marseille{
        position: relative;
        left: 15px;
    }
    .hebergement-card{
        width: 260px;
    }
    .hebergement-card-2{
        width: 260px;
    }
    .hebergement-card-5{
        width: 260px;
    }
    .hebergement-card-6{
        width: 260px;
    }
    .hebergements {
        width: 100%;
    }
    .hebergement-content{
        width: 1px;
        right: px;
    }
    .hebergement-title{
        width: 1px;
        right: 115px;
        white-space: nowrap;
    }
    .hebergement-subtitle{
        right: 115px;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
        flex-direction: row;
    
    }
    .card{
        width: 270px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 15px;
       
    }

    .populaires- .card {
        width: 90%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .fa-chart-line{
        left: -10px;
    }
    .activity-h3{
        left: 175px;
        top: 30px;
    }
    .activity{
        gap: 15px;
        left: -150px;
        height: 300px;
    }
    .activity-card{
    width: 200px;
    height: 250px;
    left: 105px;
    
    }
  
    .activity-card img{
        width: 200px;
        height: 230px;
    }
    .fort{
        min-width: 200px;
    }
    .activity-h4{
        bottom: 120px;
        left: 90px;
        width: 150px;
    }
    .grey-background{
        gap: 90px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px){
    .body{
        margin: 0px;
    }

    .main-container{
        width: 400px;
        max-width: 1440px;
      
    }
   .booki-icons{
    display: flex;
    position: relative;
    left: 120px;
    width: 100%;
    display: none;
    }
    .booki-icons-mobile{
        display: flex;
        position: relative;
        height: 15px;
        left: 125px;
        top: 5px;
    }
   .a-acco{
    display: flex;
    position: relative;
    bottom: 9px;
   }
   .a-activity{
    display: flex;
    position: relative;
    bottom: 9px;
   }
   .tabs-acco{
    left: -110px;
    top: 25px;
    width: 265px;
    padding-left: 110px;
    border-bottom: 2px solid #D9D9D9;
}

.tabs-activity{
    left: 150px;
    bottom: -4px;
    width: 185px;
    padding-left: 41px;
    border-bottom: 2px solid #D9D9D9;
   
}
.tabs-activity:hover{
    border-bottom: 2px solid #0065FC;
    border-top: 0px solid #0065FC;
}
.tabs-acco:hover{
    border-bottom: 2px solid #0065FC;
    border-top: 0px solid #0065FC;
}
.navbar-h3{
    width: 250px;
}
.navbar-h5{
    display: flex;
    position: relative;
    bottom: 18px;
}
.location-icons{
top: -9px;
}
.input-text{
    display: flex;
    position: relative;
    left: 25px;
    top: -59px;
}
.input-mobile{
    left: 1px;
    width: 251px;
}
::placeholder{
    display: flex;
    position: relative;
    left: 25px;
}
.filter-h3{
    bottom: 99px;
}
.fa-magnifying-glass{
    display:flex;
    position: relative;
    top: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}
.button-mobile{
    display: flex;
    position: relative;
    background-color: #0065FC;
    bottom: 109px;
    width: 55px;
    height: 50px;
    left: 261px;
    border-radius: 19px;
    filter: drop-shadow(1px 5px 1px rgba(0, 0, 0, 0.1));

}
.button{
    display: none;
}
.filter-economic{
    top:-99px;
    height: 50px;
    left: -9px;
    
}
.fa-money-bill-wave{
    top: 14px;
    left: 15px;
}
.filter-family{
    bottom: 150px;
    height: 50px;
    width: 150px;
    left: 165px;
}
.h4-family{
    bottom: -11px;
}
.fa-person{
    top: 19px;
    left: 19px;
}
.filter-romantic{
    left: -10px;
    top: -135px;
    height: 50px;
    width: 161px;
}
.fa-heart{
    top:13px;
}
.a-romantic{
    top: 11px;
}
.filter-nugget{
    height: 50px;
    left: 165px;
    top: -185px;
    width: 153px;
}
.fa-fire{
top: 12px;
left: 9px;
}
.border-info{
    top: -169px;
}
.h5-500{
    bottom: 225px;
}

.h4-economy{
    bottom: 9px;
    left: 22px;
}
.fa-chart-line{
    display: flex;
    position: relative;
    left: 45px;
}
.populaires{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 355px;
    border-radius: 55px;
    right: 25px;
    padding-top: 11px;
    top: -55px;
  }
.grey-background-populaires{
    display: flex;
    position: relative;
    background-color:#f2f2f2;
    top: 25px;
    min-width: 365px;
    height: 570px;
    right: 35px;
}
.section-title{
    left: 15px;
}
.populaires-cards{
    position: relative;
    right: -15px;
}
.card{
    width: 330px;
    right: 251px;
}
.card img{
    height: 125px;
}
.populaires-cards .card{
    height: 135px;
}

.section-title{
display: flex;
position: relative;
bottom: -21px;
}
.card-rating{
    display: flex;
    position: relative;
    right: 19px;
    bottom: 11px;
}
.populaires-cards{
    flex-direction: column;
    width: 51px;
    gap: 0px;
}
.hebergements-marseille{
    gap: 19px;
    left: -5px;
    bottom: 25px;
}
.hébergements-h3{
    display: flex;
    position: relative;
    left: -35px;
    top: -25px;
}
.hebergement-card{
    display: flex;
   
  
}
.hebergements-and-populaires{
    display: flex;
    flex-direction: column-reverse;
    
}
.hebergements-and-populaires section {
    border-radius: 0px;
    padding-top: 11px;
    background-color: transparent;
  } 
.hebergements{
    background-size: 0%;
}
.hebergements section{
    background-color: transparent;
}

.hebergement-card{
width: 321px;
right: 35px;
}


.hebergement-title{
    right: 145px;
}
.hebergement-subtitle{
    left: -145px;
}
.hebergement-rating{
    left: -311px;
}


.hebergement-card-2{
    display: flex;
    position: relative;
    right: 35px;
    background-color: white;
    width: 320px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-left: 7px;
    padding-top: 7px;
    top: 1069px;
} 
.hebergement-card-2 img{
    display: flex;
    position: relative;
    height: 125px;
    min-width: 305px;
    border-radius: 15px;
    right: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.hebergement-card-5{
    display: flex;
    position: relative;
    right: 35px;
    background-color: white;
    width: 320px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-left: 7px;
    padding-top: 7px;
    bottom: 811px;
}
.hebergement-card-5 img{
    display: flex;
    position: relative;
    height: 125px;
    min-width: 305px;
    border-radius: 15px;
    right: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.hebergement-card-6{
    display: flex;
    position: relative;
    right: 35px;
    background-color: white;
    width: 320px;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-left: 7px;
    padding-top: 7px;
    bottom: 275px;
}
.hebergement-card-6 img{
    display: flex;
    position: relative;
    height: 125px;
    min-width: 305px;
    border-radius: 15px;
    right: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.afficher-plus{
    display: flex;
    position: relative;
    left: -35px;
    bottom: 25px;
}
.activity{
    display: flex;
    position: relative;
    flex-direction: column;
    left: -100px;
    bottom: 161px;
    gap: 15px;
}
.activity-h3{
left: 105px;
top: 91px;
}
.activity-card{
    width: 300px;
    right: 285px;
    height: 211px;    
}
.activity-card img{
min-width: 300px;
height: 195px;
}
.activity-h4{
    top: -139px;
    left: -9px;
    width: 300px;
}
.grey-background{
    top: 699px;
    width: 355px;
    flex-direction: column;
    height: 555px;
    left: -25px;
    gap: 25px;
}
}